/* ------------- General ------------- */

body {    
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Open Sans;
}

/* ------------- Navigation bar --------------- */


.navbar-container {
    background-color: white;
    font-size: 2vh;
    position: fixed;
    width: 100%; 
    z-index: 100;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.26);
}

.logo{
    height: 8vh;
    display: block;
    margin-top: 1vh;
    margin-left: 15vh;
    margin-right: auto;
    margin-bottom: 1vh;
    width: auto;
    height: 8vh;
    align-items: center;
}


.navbar-grid {
    width: 100%;
    height: 10vh;
    display: inline-grid;
    grid-template-columns: 75% 5% 5% 5% 5% 5%;
    text-align: center;
    font-family: sans-serif;
    align-items: center;
}

.navbar-home, .navbar-events, .navbar-team, .navbar-join{
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
}

.join{
    background-color: #dd3438;
    padding: 1vh 3vh 1vh 3vh;
    border-radius: 2px;
}


@media screen and (max-width: 992px) {
    .navbar-grid {
        grid-template-columns: 100%;
    }

    .logo { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 8vh;
    }


}

/* ------------- Cover ------------- */

.cover{
    background-color: #dd3438;
    height: auto;
    padding: 15vh 40vh 10vh 15vh;

}
.cover h1 {
    font-size: 14vh;
    font-family: 'Open Sans', sans-serif;
    line-height: 13vh;
    color: #ffa800; 
    margin: 0;
}

.cover h2 {
    font-size: 3vh;
    font-family: 'Open Sans', sans-serif;
    line-height: vh;
    color: #f2eddb;;   
}

.button{
    background-color: white;
    border: none;
    color: #dd3438;
    padding: 1vw 2vw 1vw 2vw;
    text-align: center;
    display: inline-block;
    font-size: 3vh;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-radius: 25px;
}

@media screen and (max-width: 992px) {
    .cover{
        background-color: #dd3438;
        height: auto;
        padding: 15vh 3vh 1vh 3vh;

    }
    .cover h1{
        font-size: 8vh;
        line-height: 8vh;

    }

    .cover h2{
        font-size: 2vh;
        margin: 5vh 0vh 5vh 0vh;
    }


}


/* ------------- Team ------------- */
.team{
    height: 100vh;
}

.team-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 5vh;
    text-align: center;
    color: #ffa800; 
}

.team-grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    margin: 5vh 40vh 20vh 40vh;
    line-height: 1vh;

}

.details {
    c
}
.team-grid h2{
    font-size: 3vh;
}

.team-grid p{
    font-size: 100%;
    
}
.team-grid-item img{
    display:block;
    margin:auto;
    height: 20vh;
    border-radius: 5px;
}

.team-grid-item{
    font-size: 2vh;
    background-color: #dd3438;
    color: #f2eddb;
    text-align: center;
    padding: 3vh;
    margin: 1vh;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;

}


@media screen and (max-width: 992px) {
    .benefits-title{
        font-size: 5vh;
    }
    .benefits-grid{
        display: grid;
        grid-template-columns: 100%;
        margin: 0vh
    }
}



/* ------------- Footer ------------- */
.footer{
    background-color: #dd3438;
    margin-top: 20vh;
    left: 0;
    bottom: 0;
    color: #f2eddb;
    text-align: center;
    font-family: sans-serif;
    padding: 2vh;
}

.footer-grid{
    display: inline-grid;
    align-content: center;
    grid-template-columns: 50% 50%;
    color: #444;
    padding: 2vh 10vh 2vh 10vh;
}

.footer-grid-item{
    display: inline-grid;
    align-content: center;
    grid-template-columns: 50% 50%;
    color: #444;
    padding: 2vh 10vh 2vh 10vh;
}




a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

a:hover{
    color: #ffa800;
    cursor: pointer;
}

a:active {
    color: red;
    text-decoration: inherit;
    cursor: pointer;
}

